.classification-tool-body {
    position: absolute;
    right: 0;
    margin-right: 300px;
    background: grey;
    bottom: 0;
    top: 0;
    height: fit-content;
    margin-bottom: auto;
    margin-top: auto;
}
.toolButton {
    font-size: 17px;
    color: white;
    padding: 9px;
    text-align: center;
}